/* Reset default box sizing, margin and padding */

* {
    box-sizing: border-box;
    /* the property is not inherited, it applies to every single element */
    margin: 0;
    padding: 0%;
}

html {
    /* you pass inherited properties down to children */
}

body {
    margin: 0;
    color: #444;
    background-color: mistyrose;
}

/* Site Header */

.site-header {
    background-color: white;
    padding: 20px 20px;
}

.site-header-link {
    display: inline-block;
    background-color: mistyrose;
}

.company-logo {
    /* display: inline-block; */
    width: 40px;
}

/* Site Menu */

.site-menu {
    display: inline-block;
}

.site-menu-item {
    display: inline-block;
}

.main {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    padding: 20px;
    background-color: rebeccapurple;
    color: white;
    text-align: right;
}

/* Overwrite browser default styles and Inherit color from parent that has color set */
a {
    color: inherit;
}
h1,
span {
    width: 400px;
}

h1 {
    border:1px solid blue;
    /* padding: 10px 16px 24px 32px; */

    /* set for the top?bottom, then left/right. WHen we have 2 padding values */
    padding: 10px;
    color: rebeccapurple;
}

h2 { 
    width: 80%;
}

span {
    display: inline-block;
}